{% extends "base.html" %}
{% block title %}
AboutUs - Google Drive
{% endblock title %}

{% block content %}
<div class="col-md-8 col-md-offset-2 panel_wrapper">
					<div class="panel-primary">
						<div class="panel-heading"><h4><i class="glyphicon glyphicon-tint"></i> About Us</h4></div>
						<div class="panel-body bg-info">
							<h4>We are a group of 10 members collaborating on this single project.</h4>
							<div class="table-responsive">          
								<table class="table table-bordered">
								<thead>
								  <tr>
									<th>#</th>
									<th>Name</th>
									<th>Email</th>
								  </tr>
								</thead>
								<tbody>
								  <tr>
									<td>1</td>
									<td>Jay Prakash</td>
									<td>jp024556@gmail.com</td>
								  </tr>
								  <tr>
								  <tr>
									<td>2</td>
									<td>Jitendra Kr. Sharma</td>
									<td>jitendrasharmahero@gmail.com</td>
								  </tr>
								  <tr>
									<td>3</td>
									<td>Kislay Kumar</td>
									<td>kislay.kumar@outlook.com</td>
								  </tr>
								  <tr>
									<td>4</td>
									<td>Lal Krishna Jha</td>
									<td>jhalalkrishna2@gmail.com</td>
								  </tr>
								  <tr>
									<td>5</td>
									<td>Nirupam SenGupta</td>
									<td>niru.ruku167@gmail.com</td>
								  </tr>
								  <tr>
									<td>6</td>
									<td>Prantapa Sarkar</td>
									<td>iamaniket2050@gmail.com</td>
								  </tr>
								  <tr>
									<td>7</td>
									<td>Payel Roy</td>
									<td>N/A</td>
								  </tr>
								  <tr>
									<td>8</td>
									<td>Satish Kr. Thakur</td>
									<td>satishkrthakur97@gmail.com</td>
								  </tr>
								  <tr>
									<td>9</td>
									<td>Akash Singh</td>
									<td>akashmastermind6@gmail.com</td>
								  </tr>
								  <tr>
									<td>10</td>
									<td>Deepak Kr. Jha</td>
									<td>cutedeepakjha@gmail.com</td>
								  </tr>
								  
								</tbody>
								</table>
								</div>
							
						</div>
						<div class="panel-footer bg-danger">
							<p>You can contact us via above emails :)</p>
						</div>
					</div>
				</div>
{% endblock content%}
