{% extends "base.html" %}
{% block title %}
Google Drive - A free upload service
{% endblock title %}

{% block content %}
<div class="col-md-8 col-md-offset-2 panel_wrapper">
					<div class="panel-primary">
						<div class="panel-heading"><h4><i class="glyphicon glyphicon-tint"></i> Drive Features :):(</h4></div>
						<div class="panel-body bg-info">
							<h3 class="text-danger"><code>=> A safe place for all your files.</code></h3>
							<p>&nbsp;&nbsp;&nbsp;-Here, all your files will be safe.</p>
							<h3 class="text-danger"><code>=> Store any file</code></h3>
							<p>&nbsp;&nbsp;&nbsp;-Drive starts you with unlimited storage, so you can keep photos, stories, designs, drawings, recordings, videos – anything.</p>
							<h3 class="text-danger"><code>=>See your stuff anywhere</code></h3>
							<p>&nbsp;&nbsp;&nbsp;-Your files in Drive can be reached from any smartphone, tablet, or computer. So wherever you go, your files follow.</p>
						</div>
						<div class="panel-footer bg-danger">
							<p class="text-muted">A tiny version of Google Drive made with <i class="glyphicon glyphicon-heart" style="color:red;"></i></p>
						</div>
					</div>
				</div>
{% endblock content%}
