{% extends "base.html" %}
{% block title %}
MyUploads | Google Drive
{% endblock title %}
{% block content %}
<div class="col-md-8 col-md-offset-2 panel_wrapper">
<h3 style="padding:3px;"><code>Hi <b>{{ request.session.username }}</b>, Your uploaded files are:</code></h3>
{% if items %}
		<div class="table-responsive" style="background:teal;color:yellow;box-shadow:1px 3px #40E0D0;border-radius:5px;">		
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>FileName</th>
        <th>Download Link</th>
      </tr>
    </thead>
    <tbody>
	{% for item in items %}
      <tr>
        <td>{{ item.pk }}</td>
        <td>{{ item.file_name }}</td>
        <td><a href="/media/{{ item.file_name }}" target="_blank"><button class="btn btn-warning" style="box-shadow:0px 3px #FFFF66;"><i class="glyphicon glyphicon-cloud-download"></i> Download</button></a></td>
      </tr>
	  {% endfor %}
    </tbody>
  </table>
  </div>
  {% else %}
  <blockquote style="margin:5px;padding:5px;font-family:Trebuchet Ms;"><mark>You have not uploaded anything yet !<br />First, upload some files then come here :)</mark></blockquote>
  {% endif %}
						
</div>
{% endblock content%}
